<form class="search-form">
	<label class="is-hidden" for="image search">Search</label>
	<input
		type="search"
		name="search"
		[(ngModel)]="imageQuery"
		placeholder="Search Flickr Feed Images..."
	/>
	<button type="submit" id="search" class="search-button" (click)="search()">
		<i class="material-icons icon-search">search</i>
	</button>

	<div *ngIf="images" class ="main-content col-lg-12">
		<ul class="img-list">
			<li *ngFor="let item of items" class="feature">
				<a href={{item.link}} target="_blank">
				  <img src={{item.media.m}} />
				</a>
				<span>{{item.title | slice:0:40}}...</span>
			</li>
		</ul>
	</div>
	<div *ngIf="!images" class ="main-content col-lg-12">
		<h4>Loading...</h4>
	</div>
</form>